.col-1 {
    width: 8.33%;
    box-sizing: border-box;
}

.col-2 {
    width: 16.66%;
    box-sizing: border-box;
}

.col-3 {
    width: 25%;
    box-sizing: border-box;
}

.col-4 {
    width: 33.33%;
    box-sizing: border-box;
}

.col-5 {
    width: 41.66%;
    box-sizing: border-box;
}

.col-6 {
    width: 50%;
    box-sizing: border-box;
    background-color: rgb(#eee8aa);
}

.col-7 {
    width: 58.33%;
    box-sizing: border-box;
}

.col-8 {
    width: 66.66%;
    box-sizing: border-box;
}

.col-9 {
    width: 75%;
    box-sizing: border-box;
}

.col-10 {
    width: 83.33%;
    box-sizing: border-box;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px green dotted;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* width, height, max-width, max-height, min-width, min-height,  */
    div {
        background-color: limegreen;
    }
}

@media only screen and (min-width: 769px) {
    div {
        background-color: palegoldenrod;
    }
}

@media only screen and (max-width: 480px) {
    /* width, height, max-width, max-height, min-width, min-height,  */
    div {
        background-color: rgba(50, 200, 205, 0.541);
    }
}