/* CSS for YMCA Final Project */

body {
    background-color: #fbeec1;
}

div.top {
    display: block;
    position: fixed;
    top: 0;
}

.logohead {
    display: inline;
    margin-bottom: 100px;
    position: fixed;
    top: 0;
}

img.logo {
    display: inline-block;
}

table,
th,
td {
    background-color: white;
    border: 2px blue solid;
    color: black;
    border-collapse: collapse;
}