/* CSS for YMCA Final Project */

body {
    background-color: #fbeec1;
}

div.top {
    display: block;
    position: fixed;
    top: 0;
}

img.logo {
    display: block;
    margin-bottom: 100px;
    ;
}